<md-toolbar layout="row">
	<h1>Hello {{::userName}}</h1>
</md-toolbar>
<div flex layout="column">
	<div flex layout="row">
		<div flex="5">
			<button ng-disabled="currentPage == 1" ng-click="currentPage = currentPage - 1"> <<</button>
		</div>

		<div flex="30" ng-repeat="image in images track by $index"
		     ng-show="$index >= (currentPage-1) * image_amount && $index < currentPage * image_amount">

			<img class="slide" ng-if="image" ng-src="{{ '/image/' + image.fileName }}" alt="{{ ::image.caption }}"/>
		</div>

		<div flex="30" ng-repeat="placeholder in placeholders track by $index"
		     ng-if="images.length <= currentPage * image_amount">
			<img class="slide" src="images/placeholder.png" alt="Image placeholder">
		</div>


		<div flex="5">
			<button ng-disabled="images.length <= currentPage * image_amount" ng-click="currentPage = currentPage + 1"> >>
			</button>
		</div>
	</div>
	<div flex layout="row">
		<div flex="33" layout="column">
			<div>
				<form name="uploader">
					<button upload-image>
						Upload image
					</button>
				</form>
			</div>
			<div>
				<ul class="image-lits">
					<image-list-item class="image-list-item" ng-repeat="image in images">
						<span class="image-file-name">{{ ::image.fileName }}</span>
					</image-list-item>
				</ul>
			</div>
		</div>
		<div flex>
			<table>
				<thead>
				<tr>
					<th>Image ID</th>
					<th>Image URL</th>
					<th>Impression count</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="image in images">
					<td>{{ ::image.id }}</td>
					<td>{{ ::image.fileName }}</td>
					<td>{{ image.impression }}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>