<md-toolbar layout="row">
	<h1>Hello {{::userName}}</h1>
</md-toolbar>
<div flex layout="column">
	<div flex layout="row" layout-align="center center">
		<div flex="5">
			<md-button class="md-icon-button" ng-disabled="currentPage == 1" ng-click="currentPage = currentPage - 1"> <<
			</md-button>
		</div>

		<div flex="30" ng-repeat="image in images track by $index"
		     ng-show="$index >= (currentPage-1) * image_amount && $index < currentPage * image_amount">

			<img class="slide" ng-if="image" ng-src="{{ '/image/' + image.fileName }}" alt="{{ ::image.caption }}"
			     impression-count
			     visible="{{$index >= (currentPage-1) * image_amount && $index < currentPage * image_amount}}"/>
		</div>

		<div flex="30" ng-repeat="placeholder in placeholders track by $index"
		     ng-if="images.length <= currentPage * image_amount">
			<img class="slide" src="images/placeholder.png" alt="Image placeholder">
		</div>


		<div flex="5">
			<md-button class="md-icon-button" ng-disabled="images.length <= currentPage * image_amount"
			           ng-click="currentPage = currentPage +
			1"> >>
			</md-button>
		</div>
	</div>
	<div flex layout="row">
		<div flex="35" layout="column" layout-align="center center">
			<div flex>
				<form name="uploader">
					<md-button upload-image class="md-button md-primary">
						Upload image
					</md-button>
				</form>
			</div>
			<!--<div layout="column" style="padding-bottom: 32px;">-->
			<image-list-item ng-repeat="image in images"></image-list-item>

			<!--</ul>-->
			<!--</div>-->
		</div>
		<div flex layout-align="center right">
			<table class="">
				<thead>
				<tr>
					<th>Image ID</th>
					<th>Image URL</th>
					<th>Impression count</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="image in images">
					<td>{{ ::image.id }}</td>
					<td>{{ ::image.fileName }}</td>
					<td>{{ image.impression }}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>